# Этот файл .gitignore используется для указания файлов и директорий, которые Git должен игнорировать при отслеживании изменений.
# Любая строка, начинающаяся с символа #, считается комментарием и игнорируется Git.

# Игнорировать файлы, созданные IDE
.idea/
.jpb
parent.iml

# Игнорировать временные файлы и папки
/tmp/
.temp/
*.tmp
#Игнорировать другие модули
account
authorization
eureka-service
history
profile
public-info
target
transfer
checkstyle.xml
docker-compose.yml
HELP.md
pom.xml

# Игнорировать файлы, созданные ОС
.DS_Store
Thumbs.db

# Игнорировать файлы, содержащие персональные настройки пользователя
*.log
*.cache
*.conf

# Игнорировать файлы с чувствительной информацией (например, ключи API или пароли)
secrets.txt
credentials.json

# Игнорировать файлы с настройками среды разработки
.env
.env.local

# Игнорировать временные файлы отладки
log/
logs/
*.log.*
npm-debug.log*

# Игнорировать файлы с результатами сборки
/build/
/dist/
/out/

# Игнорировать файлы зависимостей
/node_modules/
/bower_components/

# Игнорировать файлы с локальными настройками пользователя
.vscode/
*.sublime-*
*.idea/
*.swp

# Игнорировать временные файлы компиляции
*.pyc
*.o
*.obj
*.dll
*.exe

# Игнорировать временные файлы языка программирования
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Игнорировать файлы настроек проекта
.project
*.iml

# Игнорировать временные файлы языка программирования Java
/target/
*.war

# Игнорировать временные файлы языка программирования Python
__pycache__/

# Игнорировать временные файлы языка программирования PHP
.cache
.phpunit.result.cache
/vendor/

# Игнорировать временные файлы языка программирования JavaScript
node_modules/
bower_components/

# Игнорировать временные файлы языка программирования Ruby
.bundle/
log/
/tmp/

# Игнорировать файлы конфигурации языка программирования Ruby
config/database.yml
config/master.key

# Игнорировать временные файлы языка программирования Go
*.exe
*.dll
*.so
*.dylib